extend ' .filed-upgrade[type=radio] ~ .checkbox_radio' has no matches
body {
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}
.full-width::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: -1;
}
header {
  color: #000;
  background: transparent;
  position: relative;
  margin-bottom: 25px;
  margin-top: 30px;
}
header::before {
  box-shadow: 0 5px 10px #eee;
}
header .logo {
  margin: 1em 0;
  font-size: 1em;
  text-decoration: none;
}
header .logo a {
  display: inline-block;
  position: relative;
}
header .logo img {
  width: 90%;
}
.banner {
  padding: 3.5em 0;
}
.banner p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 40px;
}
.top-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 30px;
}
.top-bar::before {
  background: #2aa5db;
}
.top-bar a,
.top-bar .login {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 10px;
  cursor: pointer;
}
.top-bar a:hover,
.top-bar .login:hover {
  text-decoration: underline;
}
.top-bar .manage-account {
  margin-left: 0px;
}
.mobile-bar a,
.mobile-bar .login {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 10px;
}
.logout {
  display: none;
}
.light-blue {
  background: #2aa5db;
}
.blue-bg {
  position: relative;
  padding: 4em 0;
}
.blue-bg::before {
  background-color: #134f88;
}
.blue-bg > div {
  position: relative;
}
.blue-bg .title_white {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
.blue-bg .big-yellow {
  text-decoration: none;
  color: #fed246;
  font-size: 3.7em;
  font-weight: bold;
}
.pattern {
  padding: 8em 0;
}
.pattern::before {
  background-image: url("../images/pattern.png");
}
.white-box {
  background: #fff;
  z-index: 1;
  padding: 0 3em 3em 3em;
  padding-bottom: 160px!important;
}
.white-box .title {
  display: block;
  padding: 24px;
  background: #fed246;
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  margin-bottom: 1.5em;
}
.white-box > p {
  margin: 0 0.5em;
}
.white-box .button_white-box {
  text-transform: uppercase;
  line-height: 1.6em;
  padding: 15px 30px;
  width: 80%;
  margin-top: 30px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -40%;
}
.white-box .button_white-box span {
  display: block;
  font-weight: bold;
}
.numbers {
  margin: 6.5em 0 6em;
}
.numbers h3 {
  margin-bottom: 2.3em;
}
.numbers ul li .value {
  background: #fed246;
  text-align: center;
  font-weight: bold;
  font-size: 4em;
}
.numbers ul li .title {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2.5em;
}
.contact-list {
  padding-left: 0;
  margin-top: 0;
}
.contact-list li {
  list-style: none;
  padding-left: 55px;
  position: relative;
  margin-bottom: 40px;
}
.contact-list li::before {
  position: absolute;
  top: 3px;
  left: 0;
  font-size: 2em;
  color: #2aa5db;
}
.testimonial {
  border: 2px dotted #fed246;
  margin: 100px 0;
  padding: 50px;
  position: relative;
}
.testimonial .flex_3 > img {
  position: absolute;
  top: 50%;
  height: 400px;
  width: auto;
  margin-top: -200px;
  max-width: 260px;
}
.testimonial .name {
  display: block;
  color: #134f88;
  font-weight: bold;
}
.testimonial .small-text {
  font-style: italic;
}
.btn.dark-blue {
  background: #0c4c8a;
  color: #fff;
}
aside .aside-box {
  margin-bottom: 30px;
}
.upload-image-preview-text {
  width: 65%;
  background: #000;
  text-transform: uppercase;
  line-height: 1.7em;
  padding: 13px 0;
}
.download-sample-file {
  color: #fff;
  font-style: italic;
  padding: 0px 0 20px;
  display: block;
  font-size: 0.8em;
}
.download-sample-file-block {
  margin-top: 50px;
  text-align: right;
}
.download-sample-file-block .download-sample-file {
  margin-right: 12%;
}
.questions-left {
  text-align: right;
}
.questions-left .checkbox_radio {
  float: right;
  margin: 8px 0 0 15px!important;
}
.questions-right {
  text-align: left;
}
.questions-right .checkbox_radio {
  float: left;
  margin: 8px 15px 0 0!important;
}
#edit-franchisor-quiz-answers {
  padding: 0;
}
#fhub-import-progress-leads {
  text-align: center;
}
#fhub-import-log-zips,
#fhub-import-log-leads {
  text-align: center;
  text-decoration: none;
}
#fhub-import-log-leads {
  margin-top: 20px!important;
}
#fhub-zip-search-form input {
  border: none;
  border-bottom: 2px solid #000;
  color: #000;
}
#fhub-zip-search-form input::-webkit-input-placeholder {
  color: #000;
}
#fhub-zip-search-form input::-moz-placeholder {
  color: #000;
}
#fhub-zip-grid-table {
  border: 1px solid #000;
}
#fhub-zip-grid-table .header-inner {
  background: #fff;
}
#fhub-zip-grid-table .header-inner tr th:first-child {
  width: 58%;
}
#fhub-zip-grid-table tr:first-child > * {
  border-top: 1px solid #000;
}
#fhub-zip-grid-table th,
#fhub-zip-grid-table td {
  border: 1px solid #000;
}
#fhub-zip-grid-table #fhub-zips-grid-paginator {
  text-align: right;
  background: #fff;
}
#fhub-zip-grid-table #fhub-zips-grid-paginator .paginator-total-records,
#fhub-zip-grid-table #fhub-zips-grid-paginator a[data-page="next"],
#fhub-zip-grid-table #fhub-zips-grid-paginator a[data-page="last"] {
  display: none;
}
.result-franchise {
  border: 1px solid #ddd;
  margin: 40px 0 70px;
}
.result-franchise h3 {
  font-size: 30px;
}
.result-franchise .result-franchise-left-side {
  padding: 40px;
}
.result-franchise .result-franchise-left-side h3 {
  color: #2aa5db;
}
.result-franchise .result-franchise-right-side {
  background: #2aa5db;
  padding: 40px 0;
  color: #fff;
  position: relative;
}
.result-franchise .result-franchise-right-side h3 {
  color: #fff;
  margin-bottom: 0;
}
.result-franchise .result-franchise-right-side .large-text {
  display: block;
  font-weight: bold;
  font-size: 2em;
}
.result-franchise .result-franchise-right-side .btn {
  position: absolute;
  bottom: -24px;
  width: 90%;
  left: 50%;
  margin-left: -45% !important;
  padding: 0px 0;
  background: #0c4c8a;
  text-transform: uppercase;
  font-size: 14px;
}
.bg-img-user-quiz {
  background: url("../images/setup2.jpg") no-repeat;
  background-size: contain;
}
#fhub-user-quiz-result-general-block {
  background: url("../images/setup4.jpg") center bottom no-repeat;
  padding-bottom: 520px;
}
#fhub-franchisor-quiz-form,
.quiz-questions-block {
  background: url("../images/setup3.jpg") center top no-repeat;
}
.quiz-questions-block {
  background-position: center 120px;
}
.right-side-user-quiz h3,
.quiz-questions-block h3 {
  color: #2aa5db;
  font-size: 25px;
}
.quiz-questions-block h3 {
  margin: 40px 0 !important;
}
.uppercase {
  text-transform: uppercase;
}
.blue-header {
  color: #2aa5db;
}
.mtb40px {
  margin: 40px 0!important;
}
.video {
  background: url("../images/setup5.jpg") center center no-repeat;
  background-size: contain;
  padding: 120px 0 20px;
}
.dark-blue {
  color: #0d4d8a;
}
.quiz .answers {
  float: right;
  margin-left: 15px;
}
.quiz label {
  text-align: right;
}
.fh-button {
  padding: 0 30px;
  text-transform: uppercase;
  line-height: 2.7em;
}
.checkbox_radio {
  margin-right: 6px!important;
  margin-bottom: 15px!important;
  margin-top: 8px!important;
}
#fhub-user-quiz-result-paginator .paginator-total-records {
  font-size: 17px;
  margin-bottom: 10px;
  color: #0d4d8a;
}
#fhub-user-quiz-result-paginator .paginator-navigation span,
#fhub-user-quiz-result-paginator .paginator-navigation a {
  width: 35px;
  display: inline-block;
  text-align: center;
  background: #2aa5db;
  border-radius: 50%;
  height: 32px;
  color: #fff;
  text-decoration: none;
}
#fhub-user-quiz-result-paginator .paginator-navigation .selected {
  background: #0d4d8a;
}
#fhub-user-quiz-result-paginator .paginator-navigation a[data-page="prev"],
#fhub-user-quiz-result-paginator .paginator-navigation a[data-page="next"],
#fhub-user-quiz-result-paginator .paginator-navigation a[data-page="last"],
#fhub-user-quiz-result-paginator .paginator-navigation a[data-page="first"] {
  display: none;
}
.button-login .title_small {
  margin-left: 30px;
}
.button-login .title_small span {
  display: block;
  font-size: 0.8em;
  color: #999;
  margin-left: 23px;
}
.button-login .title_small:first-child {
  margin-bottom: 40px;
}
.button-login .title_small .btn {
  text-transform: uppercase;
}
.membership-attributes-data {
  border-color: transparent;
  border-bottom-color: #bbb;
  height: auto;
  line-height: 1.5em;
  padding: 0.25em;
}
.dollar_span {
  display: inline-block;
  font-size: 25px;
  text-align: center;
}
.blue-block {
  background: #2aa5db;
  padding: 30px 40px;
  margin-bottom: 10px;
}
.blue-block h4 {
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
}
.download-sample-file-block .download-sample-file {
  display: none;
}
#add-signle-lead-block {
  border: 1px solid #999;
  padding: 40px;
  margin-top: 40px;
}
#add-signle-lead-block span {
  text-transform: uppercase;
  color: #2aa5db;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}
#add-signle-lead-block input,
#add-signle-lead-block select {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 29%!important;
  max-width: none;
  min-width: auto;
}
#add-signle-lead-block input[type="submit"] {
  float: none;
}
footer {
  padding: 24px 0;
  background: #000;
  color: #fff;
  font-size: 0.85em;
  position: relative;
}
footer::before {
  background: #000;
}
footer .footer-box {
  z-index: 1;
}
footer .footer-box .main_menu {
  text-align: left;
}
footer .footer-box .main_menu li {
  width: 100%;
}
footer .footer-box .main_menu li a {
  color: #fff;
  padding: 0;
}
footer .footer-box .logo {
  width: 80%;
}
footer .footer-box .tel {
  background: #fed246;
  display: block;
  color: #000;
  font-weight: bold;
  padding: 0.5em;
  margin: -24px 0 20px;
  text-align: center;
  text-decoration: none;
  font-size: 2em;
}
footer .footer-box .tel span {
  display: block;
  font-size: 0.85em;
}
label[for="terms-and-conditions"].checkbox_radio {
  float: left;
}
body.blue-popup .smoke-base .dialog.error .dialog-inner {
  color: #01373d;
  border-color: #9fc5c9;
  background-color: #fff;
}
#go-top {
  color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
#go-top:hover,
#go-top:active,
#go-top.active {
  color: #FFF;
  border-color: #2aa5db;
  background-color: #2aa5db;
}
.webPage-go-top {
  color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
.webPage-go-top:hover,
.webPage-go-top:active,
.webPage-go-top.active {
  color: #FFF;
  border-color: #2aa5db;
  background-color: #2aa5db;
}
.page-flexgrid-example {
  padding: 3em 0;
}
.page-flexgrid-example code {
  padding: 0 4px;
  border: none;
  background-color: transparent;
}
.page-flexgrid-example ._example {
  background-color: #37abdd;
  color: #FFF;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  padding: 0.5em;
  font-size: 12px;
}
.page-flexgrid-example ._example ._example {
  background-color: #6bc1e6;
}
.range input {
  height: 2em;
}
.header-quize {
  color: #135089;
  font-weight: bold;
}
.member-logged-in .no-member,
.customer-logged-in .no-member {
  display: none;
}
.admin-logged-in.member-logged-in .no-member {
  display: block;
}
.admin-logged-in.member-logged-in .title_small.member span,
.admin-logged-in.member-logged-in .title_small.member a {
  display: none;
}
.title_small .member-profile-link {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 3.5em;
  padding: 0 2.5em;
  font-family: 'Open Sans', Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  border-color: #076bbc;
  background-color: #2aa5db;
  border-radius: 2.5em;
  user-select: none;
  box-shadow: none;
  border: none;
  transition: background 0.3s;
}
.button-login .title_small.member span {
  margin-left: 7px;
  margin-bottom: 15px;
}
form::after {
  content: "";
  display: table;
  clear: both;
}
form p::after {
  content: "";
  display: table;
  clear: both;
}
form .captcha label,
form .captcha input {
  float: left;
  width: 100%;
  font-weight: normal;
}
form .captcha .captcha_field {
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a,
form .captcha .captcha_image a {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 3.5em;
  padding: 0 2.5em;
  font-family: 'Open Sans', Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  border-color: #076bbc;
  background-color: #2aa5db;
  border-radius: 2.5em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  border: none;
  transition: background 0.3s;
  float: left;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 3.5em;
  margin-right: 0.25em;
}
form .captcha .recaptcha_links a:hover,
form .captcha .captcha_image a:hover,
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
  color: #FFF;
  border-color: #054f8b;
  background-color: #1e86b4;
}
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
form .captcha .recaptcha_links a::before,
form .captcha .captcha_image a::before {
  font-family: flexkit-icons;
  width: 100%;
  float: left;
  margin: 0;
  line-height: inherit !important;
}
form .captcha .captcha_image {
  width: 100% !important;
  height: auto !important;
  float: left;
  text-align: center;
  margin-bottom: 1em;
}
form .captcha .captcha_image br {
  display: none;
}
form .captcha .captcha_image span {
  float: left;
}
form .captcha .recaptcha_links {
  float: left;
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a[href="javascript:Recaptcha.reload();"]::before {
  content: "\e093";
}
form .captcha .recaptcha_links a.recaptcha_only_if_image::before {
  content: "\e0e2";
}
form .captcha .recaptcha_links a.recaptcha_only_if_audio::before {
  content: "\e008";
}
form .captcha .recaptcha_links a.recaptcha_help::before {
  content: "\e0e3";
}
form .captcha #recaptcha_audio_play_again::before {
  content: "\e0e4";
}
form .captcha #recaptcha_audio_download::before {
  content: "\e0e1";
}
@media only screen and (max-width: 480px), only screen and (min-width: 800px) {
  aside form .captcha .recaptcha_links {
    width: 100%;
  }
  aside form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  aside form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image span {
    width: 49%;
  }
  aside form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  form .captcha .recaptcha_links {
    width: 100%;
  }
  form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  form .captcha .captcha_image span {
    width: 49%;
  }
  form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
.tablet form .captcha .captcha_image span,
.mobile form .captcha .captcha_image span {
  width: 100%;
}
form [type="submit"] {
  float: right;
}
fieldset legend {
  font-size: 1.25em;
}
fieldset.unstyled {
  padding: 0;
  border: 0;
}
fieldset.unstyled legend {
  padding: 0;
  margin-bottom: 0.45em;
  font-weight: bold;
}
label,
.label {
  display: block;
  margin-bottom: 0.25em;
}
label[for],
.label[for] {
  cursor: pointer;
}
label[class*="grid_"],
.label[class*="grid_"] {
  margin-bottom: 0;
}
.label-inline label,
.label-inline .label {
  margin-bottom: 0;
  line-height: 3.5em;
}
label.required::after,
.label.required::after {
  color: #f25f5c;
  content: ' *';
}
.notvalid {
  color: #f25f5c;
}
select,
textarea,
input {
  font-family: 'Open Sans', Arial, sans-serif;
  border: 1px solid #bbbbbb;
  background-color: #fff;
  color: #000000;
  transition: border 0.3s;
}
select:focus,
textarea:focus,
input:focus {
  border-color: #2aa5db;
}
select.success,
textarea.success,
input.success,
select.warning,
textarea.warning,
input.warning,
select.error,
textarea.error,
input.error,
select.info,
textarea.info,
input.info {
  color: #000000;
}
select.success,
textarea.success,
input.success {
  border-color: #4fc752;
}
select.success:focus,
textarea.success:focus,
input.success:focus {
  box-shadow: 0 0 3px #4fc752 inset;
}
select.warning,
textarea.warning,
input.warning {
  border-color: #ffc159;
}
select.warning:focus,
textarea.warning:focus,
input.warning:focus {
  box-shadow: 0 0 3px #ffc159 inset;
}
select.error,
textarea.error,
input.error,
select.notvalid,
textarea.notvalid,
input.notvalid {
  border-color: #f25f5c;
}
select.error:focus,
textarea.error:focus,
input.error:focus,
select.notvalid:focus,
textarea.notvalid:focus,
input.notvalid:focus {
  box-shadow: 0 0 3px #f25f5c inset;
}
select.info,
textarea.info,
input.info {
  border-color: #28b0ed;
}
select.info:focus,
textarea.info:focus,
input.info:focus {
  box-shadow: 0 0 3px #28b0ed inset;
}
select[disabled],
textarea[disabled],
input[disabled],
[disabled] select,
[disabled] textarea,
[disabled] input,
select[disabled]:focus,
textarea[disabled]:focus,
input[disabled]:focus,
select.noedit,
textarea.noedit,
input.noedit,
select.noedit:focus,
textarea.noedit:focus,
input.noedit:focus {
  border-color: #dddddd;
  background: #eeeeee;
  color: #a2a2a2;
  cursor: not-allowed;
  box-shadow: none;
}
input,
select {
  padding: 0 0.5em;
  height: 3.5em;
  line-height: 2.5em;
}
textarea {
  padding: 0.5em;
  min-height: 5em;
}
textarea.resize {
  resize: vertical;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #777;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #777;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #777;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #777;
}
.forgot-password,
.retrieveFormBlock > form + a {
  float: left;
}
.g-recaptcha {
  float: left;
}
.filed-upgrade {
  height: auto;
  position: absolute;
  z-index: -10;
  transition: none;
  opacity: 0;
}
.filed-upgrade + .checkbox_radio {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-size: 16px;
  height: calc(1em + 1px * 2);
  width: calc(1em + 1px * 2);
  line-height: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #bbbbbb;
  color: transparent;
}
.filed-upgrade + .checkbox_radio::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0.625em;
  height: 0.625em;
}
.filed-upgrade.error + .checkbox_radio {
  border-color: #f25f5c;
}
.filed-upgrade:hover + .checkbox_radio::before {
  background: rgba(0, 0, 0, 0.1);
}
.filed-upgrade:checked + .checkbox_radio {
  border-color: #4fc752;
}
.filed-upgrade:checked + .checkbox_radio::before {
  background: #4fc752;
}
.filed-upgrade:disabled + .checkbox_radio {
  background: #eeeeee !important;
  border-color: #d5d5d5 !important;
  color: transparent;
}
.filed-upgrade:disabled:checked + .checkbox_radio::before {
  background: #a2a2a2 !important;
}
.filed-upgrade[type="checkbox"].switcher + .checkbox_radio {
  overflow: hidden;
  position: relative;
  width: 4em;
  height: calc(1.25em + 1px * 2);
  line-height: 1.25em;
}
.filed-upgrade[type="checkbox"].switcher + .checkbox_radio::before {
  font-size: 0.667rem;
  line-height: inherit;
  content: 'OFF';
  background: none;
  color: #f25f5c;
  position: static;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  width: 50%;
  text-align: center;
  float: left;
  margin-left: 50%;
}
.filed-upgrade[type="checkbox"].switcher + .checkbox_radio::after {
  content: '';
  background: #f25f5c;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  border: 1px solid #fff;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
.filed-upgrade[type="checkbox"].switcher:checked + .checkbox_radio::before {
  content: 'ON';
  margin-left: 0;
  color: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:checked + .checkbox_radio::after {
  left: 50%;
  background: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:disabled + .checkbox_radio::before {
  color: #a2a2a2 !important;
  background: none !important;
}
.filed-upgrade[type="checkbox"].switcher:disabled + .checkbox_radio::after {
  background: #a2a2a2 !important;
}
.input-label {
  position: relative;
}
.input-label label {
  color: #e6e6e6;
  position: absolute;
  top: 0;
  left: 0.5em;
  z-index: 1;
  line-height: 3.5em;
  transition: all 0.2s;
}
.input-label input {
  border-width: 0 0 1px;
  box-shadow: none !important;
}
.input-label input:focus + label,
.input-label input:valid + label {
  color: #2aa5db;
  top: -0.9em;
  font-size: 0.85em;
  line-height: 1em;
}
.input-label input.success:focus + label,
.input-label input.success:valid + label {
  color: #4fc752;
}
.input-label input.warning:focus + label,
.input-label input.warning:valid + label {
  color: #ffc159;
}
.input-label input.error:focus + label,
.input-label input.error:valid + label {
  color: #f25f5c;
}
.input-label input.info:focus + label,
.input-label input.info:valid + label {
  color: #28b0ed;
}
.img_gallery {
  margin: 10px 0;
  font-size: 0;
}
.img_gallery li {
  font-size: 1rem;
  position: relative;
  margin: 5px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.img_gallery a img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  padding: 3px;
  background: transparent;
  transition: all 0.3s;
  border: 1px solid #bbbbbb;
}
.img_gallery a img:hover {
  border-color: #2aa5db;
}
.img_gallery .image_caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  line-height: 1.7;
  padding: 4px;
  color: #FFF;
  text-align: center;
  font-size: 0.85em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(42, 165, 219, 0.8);
}
.rotator {
  position: relative;
  overflow: hidden;
  background: #fff;
}
.rotator .slide-description {
  padding: 10px 16px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.005);
}
.rotator img {
  width: 100%;
}
.rotator img ~ .slide-description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.cycle-slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
  background-size: cover;
}
.cycle-slideshow .slide > a.generator-links:not(:first-child),
.cycle-slideshow .slide > a.tpopup:not(:first-child) {
  position: absolute;
  top: 10px;
  left: 10px;
}
.cycle-slideshow .cycle-pager {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 20;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.cycle-slideshow .cycle-pager > * {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 3px;
  color: #FFF;
  background: #FFF;
  border-radius: 14px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 0;
}
.cycle-slideshow .cycle-pager > *::before {
  font-size: 10px;
}
.cycle-slideshow .cycle-pager > *:hover {
  background: #1e86b4;
}
.cycle-slideshow .cycle-pager > *.cycle-pager-active {
  cursor: default;
  color: #FFF;
  background: #2aa5db;
}
.cycle-slideshow [class*="cycle-"].action-button {
  background: #2aa5db;
  color: #FFF;
  position: absolute;
  top: 50%;
  z-index: 20;
  cursor: pointer;
  margin-top: -19px;
  padding: 10px;
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 0;
  transition: all 0.3s;
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-size: 18px;
}
.cycle-slideshow [class*="cycle-"].action-button:hover {
  background: #1e86b4;
  color: #FFF;
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-family: flexkit-icons;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev {
  left: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev::before {
  content: "\e0a9";
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next {
  right: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next::before {
  content: "\e0a7";
}
.cycle-slideshow:hover .action-button.cycle-prev {
  left: 10px;
}
.cycle-slideshow:hover .action-button.cycle-next {
  right: 10px;
}
@media only screen and (min-width: 801px) {
  .d-hide,
  .t-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 800px) {
  .t-hide,
  .d-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .m-hide,
  .d-visible,
  .t-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 1024px) {
  .main_menu a {
    padding: 8px;
    font-size: 15px;
  }
  h2,
  .h2 {
    font-size: 1.9em;
  }
  .white-box .title {
    font-size: 1.2em;
  }
  .carousel .carousel-btn.prev {
    left: -17px !important;
  }
  .carousel .carousel-btn.next {
    right: -17px !important;
  }
  #fhub-franchisor-quiz-form,
  #fhub-user-quiz-form,
  .quiz {
    font-size: 15px;
  }
  footer .footer-box .tel .orangetitle-footer {
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 800px) {
  table.table-striped {
    zoom: 0.72;
  }
  .white-box {
    padding: 0 1em 1em 1em;
  }
  .white-box .title {
    text-align: center;
  }
  .pattern {
    padding: 4em 0;
  }
  .numbers {
    margin: 2.5em 0 2em;
  }
  .numbers ul li .title {
    margin-top: 0.5em;
    margin-bottom: 2em;
  }
  .blue-bg {
    padding: 2em 0;
  }
  .blue-bg .title_white {
    font-size: 19px;
    margin-bottom: 0;
  }
  .blue-bg .big-yellow {
    font-size: 2em;
  }
  .testimonial .flex_3 > img {
    position: static;
    top: auto;
    height: auto;
    width: auto;
    margin-top: 0;
    max-width: 100%;
  }
  #fhub-franchisor-quiz-form,
  .quiz-questions-block {
    background: none;
  }
  .video {
    padding: 20px 0 20px;
  }
  .quiz p {
    background: #F3F3F3;
    padding: 10px;
  }
  .quiz p .answers {
    float: none;
    margin-left: 0;
  }
  .quiz p label {
    text-align: left;
  }
  .manage-account,
  .create-account,
  .logout,
  .login,
  .member-profile-link {
    color: #fff;
    text-decoration: none;
  }
  .mobile-bar .btn {
    padding: 0 1em;
  }
  footer .footer-box .tel {
    margin: 24px 0 20px;
  }
  table th,
  table td {
    padding: 0.5em 0.5em;
  }
  .mobile.landscape header .logo img {
    width: 50%;
  }
  .mobile.landscape footer .footer-box .tel {
    margin: 24px 0 20px;
  }
  .mobile.landscape .upload-image-preview-text {
    width: 100%;
  }
  .download-sample-file-block {
    margin-top: 0px;
  }
  .upload-image-preview-text {
    width: 100%;
  }
  #add-signle-lead-block input,
  #add-signle-lead-block select {
    margin-left: 5px;
    margin-right: 5px;
  }
  #upload-fhub-zips h3 {
    text-align: center!important;
  }
}
@media only screen and (max-width: 480px) {
  .white-box {
    margin-bottom: 20px;
  }
  .white-box .fb_button_white-box {
    font-size: 14px;
  }
  .banner {
    padding: 0;
  }
  .captcha,
  .captcha img {
    width: 100%;
  }
  .blue-bg > div {
    text-align: center;
  }
  img[style*="float: left"],
  img[style*="float:left"],
  img[style*="float: right"],
  img[style*="float:right"] {
    float: none !important;
    display: block;
    margin: 0 auto 1em;
  }
  form [type="submit"],
  form [type="button"] {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
  .numbers {
    margin: 2em 0 0em;
  }
  .numbers h3 {
    margin-bottom: 1.3em;
  }
  .numbers ul li .value {
    font-size: 3em;
  }
  .testimonial {
    margin: 50px 0;
  }
  .membership-filter-control input {
    padding: 0 25px;
  }
  h3,
  .h3 {
    font-size: 1.4em;
  }
  .upload-image-preview-text {
    padding: 13px 20px;
    font-size: 12px;
  }
  #upload-fhub-zips {
    margin-top: 0;
    margin-bottom: 25px;
  }
  #fhub-franchisor-quiz-form > div,
  .quiz-questions-block > div {
    background: #F3F3F3;
    padding: 10px;
    margin-bottom: 10px;
  }
  #fhub-franchisor-quiz-form .questions-left,
  .quiz-questions-block .questions-left,
  #fhub-franchisor-quiz-form .questions-right,
  .quiz-questions-block .questions-right {
    text-align: left;
  }
  #fhub-franchisor-quiz-form .questions-left .checkbox_radio,
  .quiz-questions-block .questions-left .checkbox_radio,
  #fhub-franchisor-quiz-form .questions-right .checkbox_radio,
  .quiz-questions-block .questions-right .checkbox_radio {
    float: left;
    margin: 4px 10px 0 0!important;
  }
  #fhub-franchisor-quiz-form .questions-right,
  .quiz-questions-block .questions-right {
    margin-bottom: 0;
  }
  table#membership-list td {
    padding: 0.5em 0.5em;
    display: block;
    border: none;
  }
  table#membership-list th {
    display: none;
  }
  table#membership-list tr {
    border: 1px solid #dddddd;
  }
  .header-quize {
    display: none;
  }
  .g-recaptcha {
    float: none;
    text-align: center;
    width: 86%;
    margin: 0 auto 10px;
  }
  #add-signle-lead-block input,
  #add-signle-lead-block select {
    width: 100%!important;
  }
}
.mobile.landscape header {
  margin-top: 0;
}
.mobile.landscape .main_menu a {
  padding: 6px;
  font-size: 12px;
}
.mobile.landscape .banner {
  padding: 1.5em 0;
}
.mobile.landscape .banner h2,
.mobile.landscape .banner .h2 {
  font-size: 1.5em;
}
.mobile.landscape .banner p {
  font-size: 18px;
}
.mobile.landscape .pattern {
  padding: 2em 0;
}
.mobile.landscape .white-box {
  padding: 0 1em 1em 1em;
}
.mobile.landscape .numbers {
  margin: 2em 0 2em;
}
.mobile.landscape .numbers h3 {
  margin-bottom: 1.3em;
  font-size: 1.5em;
}
.mobile.landscape .numbers ul li .value {
  font-size: 3em;
}
.mobile.landscape .blue-bg {
  padding: 1em 0;
}
.mobile.landscape .blue-bg .title_white {
  font-size: 21px;
  margin-bottom: 0;
}
.mobile.landscape .blue-bg .big-yellow {
  font-size: 2.7em;
}
.mobile.landscape .testimonial {
  margin: 50px 0;
}
.mobile.landscape .testimonial .flex_3 > img {
  position: static;
  top: auto;
  height: auto;
  width: auto;
  margin-top: 0;
  max-width: 100%;
}
.mobile.landscape footer .footer-box .tel {
  font-size: 1.5em;
  margin: 24px 0 20px;
}
.mobile.landscape .login.btn.dark-blue {
  padding: 0 1.5em;
}
@media only screen and (max-width: 325px) {
  .g-recaptcha {
    width: 100%;
  }
}
html.mobile,
html.tablet {
  overflow: hidden;
}
html.mobile::before,
html.tablet::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  background-color: #2aa5db;
}
html.mobile .mobile-loader,
html.tablet .mobile-loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 102;
}
html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after,
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before {
  margin: auto;
  content: "";
  display: block;
  border: 5px solid transparent;
  border-top-color: #FFF;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 50%;
}
html.mobile .mobile-loader::after,
html.tablet .mobile-loader::after {
  animation: rotate 1.45s linear infinite;
  width: 4em;
  height: 4em;
}
html.mobile .mobile-loader::before,
html.tablet .mobile-loader::before {
  animation: rotate 1.85s linear infinite;
  width: 4.75em;
  height: 4.75em;
}
html.mobile.loaded,
html.tablet.loaded {
  overflow: initial;
}
html.mobile.loaded::before,
html.tablet.loaded::before {
  content: none;
}
html.mobile.loaded .mobile-loader,
html.tablet.loaded .mobile-loader {
  display: none;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only print {
  * {
    background: none !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    /* Images, vectors and such */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter     id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    /* Chrome + Safari 6 */
    -moz-filter: grayscale(100%);
    /* Future proof */
    -ms-filter: grayscale(100%);
    /* Future proof */
    -o-filter: grayscale(100%);
    /* Future proof */
    filter: grayscale(100%);
    /* Future proof or polyfilled */
  }
  .print-hide,
  header,
  footer,
  nav,
  aside {
    display: none !important;
  }
  .print-visible {
    display: block !important;
  }
  .print-visible-inline {
    display: inline !important;
  }
  .print-page-break-inside,
  img,
  table {
    page-break-inside: avoid;
  }
  .print-page-break,
  article + article {
    page-break-before: always;
  }
  a::after {
    color: #888888;
    margin: 0 0 0 0.5em;
    font-size: 18px;
    font-style: italic;
    text-decoration: underline;
  }
  a.btn::after,
  a.page-title::after {
    margin: 0;
    display: block;
  }
  a.page-teaser-image::after,
  .page-teaser-image a::after,
  .gmaps a::after,
  a._lbox::after {
    display: none;
  }
  a[href*=".html"]::after,
  a[href^="http"]::after,
  a[href^="//"]::after {
    content: "(" attr(href) ")";
  }
}
