<footer class="flex_12 mt30px full-width flex-row " itemscope itemtype="http://schema.org/LocalBusiness" role="contentinfo">
    <div class="footer-box flex_4 t-flex_2">
        {$menu:main:_main menu}
    </div>
    {device:tablet, desktop}
    <div class="footer-box flex_4 t-flex_2 text-center">
        <a class="m-hide" href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
            <img src="{$plugin:widcard:bizLogo:url}" alt="{$page:h1}" itemprop="logo" class="logo mb20px">
        </a>
       {$content:footer-text:static}
    </div>
    {/device}
    <div class="footer-box flex_4 t-flex_2 flex-row text-center">
         
        <a itemprop="telephone"  href="tel:{$plugin:widcard:BizTelephone:href}" class="tel flex_10 f-prefix_1 f-suffix_1"><span >Franchise Help Desk</span>{$plugin:widcard:BizTelephone:notag}</a>
        <address class="hide" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="streetAddress">{$plugin:widcard:BizAddress1:notag}</span>
            <span itemprop="addressLocality">{$plugin:widcard:BizCity:notag}</span>,
            <span itemprop="postalCode">{$plugin:widcard:BizZip:notag}</span>
            <span itemprop="addressRegion">{$plugin:widcard:BizState:notag}</span>
            <meta itemprop="addressCountry" content="EN"/>
        </address>
        <!--<div>{$ template:_social links}</div>-->
    </div>
    {device:mobile}
    <div class="footer-box flex_4 t-flex_2 text-center mt20px">
        <a class="m-hide" href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
            <img src="{$plugin:widcard:bizLogo:url}" alt="{$page:h1}" itemprop="logo" class="logo mb20px">
        </a>
        {$content:footer-text:static}
    </div>
    {/device}
    <!-- Microformats -->
    <a class="hide" href="mailto:{$plugin:widcard:BizEmail:notag}" itemprop="email">{$plugin:widcard:BizEmail:notag}</a>
    <a class="hide" href="{$website:url}" itemprop="url">{$website:url}</a>
    <meta itemprop="name" content="{$plugin:widcard:BizOrgName:notag}" />
    <link itemprop="image" href="{$plugin:widcard:bizLogo:url}" />
    <meta itemprop="priceRange" content="$$" />
</footer>