<header class="flex_12 flex-row f-middle f-alpha f-omega full-width" role="banner">
    <div class="logo flex_4 f-alpha" itemscope itemtype="http://schema.org/Organization">
        <a href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
            <img src="{$plugin:widcard:bizLogo:url}" alt="Franchise Lead Generation & Lead Generation Platform" itemprop="logo">
        </a>
    </div>
    <nav id="main-menu" class="flex_8 d-visible f-omega" role="navigation">{$menu:main:_main menu}</nav>
</header>
{device:desktop}
<div class="light-blue full-width flex_12 top-bar">
    {adminonly}
    <a class="hide manage-account" href="{$website:url}franchisor-account-set-up.html">Manage accounts</a>
    {/adminonly}{$membership:profilelink}
    <a class="create-account fl-right" href="{$website:url}franchisor-account-set-up.html">Create an Account</a>
    {$member:logout}
    <span class="login dialog-btn fl-right" data-dialog-element="#dialog2" data-dialog-effect="fade">Login</span>
    <div id="dialog2" title="">{$membership:login}</div>
</div>
{/device}