<div class="full-width flex_12 flex-row f-middle t-middle mt30px mb30px">

    <div class="flex_6 t-flex_3 m-hide">
        {$imageonly:arrows:700:static}
    </div>

    <div class="flex_6 button-login t-flex_3">
        <p class="title_small no-member">
            <span>{$header:login-block-1:static}</span>
            {$fastbutton:get-started-now:btn:static}
        </p>
        <p class="title_small no-member">
             <span>{$header:login-block-2:static}</span>
            <a class="login dialog-btn btn dark-blue" data-dialog-element="#dialog2" data-dialog-effect="fade">Login to upload leads</a>
        </p>
        {memberonly}
        <p class="title_small member">
         <span>Go to your profile page to start uploading the leads</span>
           {$membership:profilelink}
        </p>
        {/memberonly}
         {customeronly}
        <p class="title_small member">
         <!--<span>Go to your profile page to start uploading the leads</span>-->
         {$fastbutton:contact:btn dark-blue}
        </p>
        {/customeronly}
    </div>
</div>