<!-- Top bar for mobile, with button show/hide menu -->
<div class="mobile-bar top clearfix">
    <span class="btn icon-menu" data-refer="main"></span>
     {adminonly}
    <a class="hide manage-account" href="{$website:url}franchisor-account-set-up.html">Manage accounts</a>{/adminonly}{$membership:profilelink}
    <a class="create-account" href="{$website:url}franchisor-account-set-up.html">Create an Account</a>
    {$member:logout}
    <a class="login dialog-btn" data-dialog-element="#dialog2" data-dialog-effect="fade">Login</a>
    {device:mobile, tablet}
    <div id="dialog2" title="">{$membership:login}</div>
    {/device}
    <!-- mobile loader -->
    <span class="mobile-loader"></span>
</div>

<aside class="m-menu left" data-el="main">
    <div class="menu-top-header"></div>
    {$menu:main:_main menu}
</aside>
<!--<aside class="m-menu dropdown right top" data-el="drop">-->
    <!--{$ menu:main:_main menu}-->
<!--</aside>-->