<div class="news-item news-item-sidebar flex_12 clearfix flex-row f-top">
    <!--<a class="news-item-image text-center flex_3 f-alpha" href="{$ news:url}">-->
    <!--    <img src="{$ news:preview}" alt="{$ news:title:inline}"/>-->
    <!--</a>-->
    <a class="news-item-title large flex_9 f-omega" href="{$news:url}">{$news:title}</a>
       <time class="news-item-date mini block mb10px "  datetime="{$news:publishat:Y-m-d}">{$news:publishat: M d, Y}</time>
    <p class="news-item-description flex_9 f-omega small mb10px">{$news:teaser}</p>
</div>