<!-- SCRIPTS ZONE -->
<!--<script src="js/scripts.min.js"></script>-->
<script src="js/system/flexkit.min.js"></script>
<!-- smtp -->
<script>
    $(function(){
       $("a.logout").next(".login").hide();
       $(".logout").prev(".create-account").hide();
       if($("a").is(".logout")){
           $(".manage-account").show();
       }
           
        if($(".ui-dialog").find('.ui-state-error').length){
           $(".dialog-btn").trigger("click");    
       }
    });
</script>
{$plugin:smtpverification:verify}