@responsive-size-tablet-over : (@responsive-size-tablet + 1);
@media only screen and (min-width : @responsive-size-tablet-over) {
    .d-hide, .t-visible, .m-visible {
        display : none !important;
    }
}
@responsive-size-mobile-over : (@responsive-size-mobile + 1);
@media only screen and (min-width : @responsive-size-mobile-over) and (max-width : @responsive-size-tablet) {
    .t-hide, .d-visible, .m-visible {
        display : none !important;
    }
}
@media only screen and (max-width : @responsive-size-mobile) {
    .m-hide, .d-visible, .t-visible {
        display : none !important;
    }
}
//================================================\\
//************** Divece orientation **************\\
//================================================\\
@media only screen and (orientation : portrait) {
}

@media only screen and (orientation : landscape) {
}

//================================================\\
//*************** Divece screen size *************\\
//================================================\\

//***** Bigger than Desktop site size *****\\
@responsive-size-desktop-above : (@responsive-size-desktop + 1);
@media only screen and (min-width : @responsive-size-desktop-above) {
}

//***** Tablet Portrait *****\\
@media only screen and (max-width : @responsive-size-desktop) {
    .main_menu a {
        padding: 8px;
        font-size: 15px;
    }
    h2, .h2 {
        font-size: 1.9em;
    }
    .white-box .title {
        font-size: 1.2em;
    }
    .carousel .carousel-btn.prev {
        left: -17px!important;
    }
    .carousel .carousel-btn.next {
        right: -17px!important;
    }
    #fhub-franchisor-quiz-form, #fhub-user-quiz-form, .quiz {
        font-size: 15px;
    }
    footer .footer-box .tel .orangetitle-footer {
        font-size: 0.7em;
    }
}

//***** All Mobile Sizes *****\\
@media only screen and (max-width : @responsive-size-tablet) {
    table.table-striped {
        zoom: 0.72;
    }
    .white-box {
        padding: 0 1em 1em 1em;
        .title {
            text-align: center;
        }
    }
    .pattern {
        padding: 4em 0;
    }
    .numbers {
        margin: 2.5em 0 2em;
        ul li .title {
            margin-top: 0.5em;
            margin-bottom: 2em;
        }
    }
    .blue-bg {
        padding: 2em 0;
        .title_white {
            font-size: 19px;
            margin-bottom: 0;
        }
        .big-yellow {
            font-size: 2em;
        }
    }
    .testimonial .flex_3 > img {
        position: static;
        top: auto;
        height: auto;
        width: auto;
        margin-top: 0;
        max-width: 100%;
    }
    #fhub-franchisor-quiz-form, .quiz-questions-block {
        background: none;
    }
    .video {
        padding: 20px 0 20px;
    }
    .quiz {
        p {
            background: #F3F3F3;
            padding: 10px;
            .answers {
                float: none;
                margin-left: 0;
            }
            label {
                text-align: left;
            }
        }
    }
    .manage-account, .create-account, .logout, .login, .member-profile-link {
        color:#fff;
        text-decoration: none;
        //margin-left: 0px;
    }
    .mobile-bar {
        .btn {
            padding: 0 1em;
        }
    }
    footer .footer-box .tel {
        margin: 24px 0 20px;
    }
    table th, table td {
        padding: .5em .5em;
    }
    .mobile.landscape {
        header .logo img {
            width: 50%;
        }
        footer .footer-box .tel {
            margin: 24px 0 20px;
        }
        .upload-image-preview-text {
            width: 100%;
        }
    }
    .download-sample-file-block {
        margin-top: 0px;
    }
    .upload-image-preview-text {
        width: 100%;
    }
    #add-signle-lead-block input, #add-signle-lead-block select {
        margin-left: 5px;
        margin-right: 5px;
    }
    #upload-fhub-zips h3 {
        text-align: center!important;
    }

}

//***** Just Mobile Landscape *****\\
@media only screen and (max-width : @responsive-size-tablet) and (orientation : landscape) {
}

//***** Just Mobile Portrait *****\\
@media only screen and (max-width : @responsive-size-mobile) {
    .white-box {
        margin-bottom: 20px;
         .fb_button_white-box {
            font-size: 14px;
        }
    }
    .banner {
        padding: 0;
    }
    .captcha {
        &, img {
            width : 100%;
        }
    }
    .blue-bg > div {
        text-align: center;
    }
    img[style*="float: left"], img[style*="float:left"], img[style*="float: right"], img[style*="float:right"]{
        float: none !important;
        display: block;
        margin: 0 auto 1em;
    }
    
    form [type="submit"], form [type="button"] {
        width        : 100%;
        margin-right : 0;
        margin-left  : 0;
    }
    .numbers {
        margin: 2em 0 0em;
        h3 {
            margin-bottom: 1.3em;
        }
        ul li .value {
            font-size: 3em;
        }
    }
    .testimonial {
        margin: 50px 0;
    }
    .membership-filter-control {
        input {
            padding: 0 25px;
        }
    }
    h3, .h3 {
        font-size: 1.4em;
    }
    .upload-image-preview-text {
        padding: 13px 20px;
        font-size: 12px;
    }
    #upload-fhub-zips {
        margin-top: 0;
        margin-bottom: 25px;
    }
    #fhub-franchisor-quiz-form, .quiz-questions-block {
        >div {
            background: #F3F3F3;
            padding: 10px;
            margin-bottom: 10px;
        }
       .questions-left, .questions-right {
           text-align: left;
           .checkbox_radio {
               float: left;
               margin: 4px 10px 0 0!important;
           }
       }
        .questions-right {
            margin-bottom: 0;
        }
    }

    table#membership-list {
        td {
            padding: .5em .5em;
            display: block;
            border: none;
        }
        th {
            display: none;
        }
        tr {
            border: 1px solid #dddddd;
        }
    }
    .header-quize {
        display:none;
    }
    .g-recaptcha {
        float: none;
        text-align: center;
        width: 86%;
        margin: 0 auto 10px;
    }
    #add-signle-lead-block input, #add-signle-lead-block select {
        width: 100%!important;
    }

}
.mobile.landscape {
    header {
        margin-top: 0;
    }
    .main_menu a {
        padding: 6px;
        font-size: 12px;
    }
    .banner {
        padding: 1.5em 0;
        h2, .h2 {
            font-size: 1.5em;
        }
        p {
            font-size: 18px;
        }
    }
    .pattern {
        padding: 2em 0;
    }
    .white-box {
        padding: 0 1em 1em 1em;
    }
    .numbers {
        margin: 2em 0 2em;
        h3 {
            margin-bottom: 1.3em;
            font-size: 1.5em;
        }
        ul li .value {
            font-size: 3em;
        }
    }
    .blue-bg {
        padding: 1em 0;
        .title_white {
            font-size: 21px;
            margin-bottom: 0;
        }
        .big-yellow {
            font-size: 2.7em;
        }
    }
    .testimonial {
        margin: 50px 0;
        .flex_3 > img {
            position: static;
            top: auto;
            height: auto;
            width: auto;
            margin-top: 0;
            max-width: 100%;
        }
    }
    footer .footer-box .tel {
        font-size: 1.5em;
        margin: 24px 0 20px;
    }
    .login.btn.dark-blue {
        padding: 0 1.5em;
    }
}
@media only screen and (max-width: 325px){
   .g-recaptcha {
        width: 100%;
    }

}
//***** Just Small Phone *****\\
@media only screen and (max-width : @responsive-size-phone) {
}

//================================================\\
//************** Divece pixel ratio **************\\
//================================================\\
@media screen and (-webkit-min-device-pixel-ratio : 1.3) {
}

@media screen and (-webkit-min-device-pixel-ratio : 1.5) {
}

@media screen and (-webkit-min-device-pixel-ratio : 2) {
}

@import "../mobile/loader";