.static_menu when (@menu-static) {
    overflow : hidden;
    text-align: center;
    padding-left: 0;
    margin: 0;
    margin-bottom: 5px;
    li {
       display: inline-block;
        padding : 0 @padding-small-horizontal;
        list-style: none;

        & + li {
            border-left : 1px solid @gray;
        }

        a { text-decoration: none;
            color:#fff;
            &.current {
            }
            span {
            }
        }
    }
}