.news-item when (@widget-news-list){
    border: 1px solid #ddd;
    margin-bottom: 25px;
    .news-item-image{
        img{
        width: 100%;
        }
    }

    .news-item-title{
        text-decoration: none;
        color:#444;
        margin-top: 12px;
        padding: 0 20px;
    }


    .newslog-admin-actions{
        text-align : right;
        a{ }
    }
    &.news-item-sidebar {
        .news-item-date{
            margin-left: 23px!important;
        }
    }
    .news-item-date{
        color : lighten(@text-color, 15%);

        &::before{
            top       : 2px;
            font-size : 16px;
            color     : @primary-bg;
        }
    }
    .news-item-description{
        padding: 0 20px;
    }

    .news-item-tags{

        a{
            .link-color(@gray);

            & + a{
                margin-left : 0.5em;
            }

            &::before{
                color        : @gray;
                margin-right : 0.5em;
            }
        }
    }

    .newslog-tag-filter{
        &::before{
            font-family: @font-family-icons;
            content : "\e023";
        }
    }
}
