.carousel when (@componentsJS-carousel) {
    position  : relative;
    max-width : 100%;
    .user-select();

    .carousel-clip {
        overflow : hidden;
        height   : 100%;
    }

    .carousel-wrap {
        .inline-block-wrap(top; ~'.carousel-item');
        min-width : 100%;
    }

    &:hover {
        .carousel-btn {
            display : block;
        }
    }

    .carousel-btn {
        background: @brand-primary1;
        position  : absolute;
        top       : 33%;
        z-index   : 15;
        margin    : auto;
        width     : 3em;
        display   : block;
        height    : 100px;
        font-size : @font-size-base;

        &::before {
            font-family : @font-family-icons;
            font-size   : 3em;
            line-height : 1;
            height      : 1em;
            position    : absolute;
            left        : 0;
            top         : 0;
            bottom      : 0;
            margin      : auto;
            color: #fff;
        }

        &.prev {
            left : -52px;

            &::before {
                content : "\e0a9";
            }
        }
        &.next {
            right : -52px;

            &::before {
                content : "\e0a7";
            }
        }

        //&:hover {
        //    .rgba(#fff; 90%);
        //}
    }
}