//	PAGE Style
//==================================================
main {
}
body {
    overflow-x: hidden;
}
html {
    overflow-x: hidden;
}
#page {
}

//	HEADER Style
//==================================================
.full-width {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        z-index: -1;
    }

}
header {
    color      : @header-color;
    background : @header-bg;
    position   : relative;
    margin-bottom: 25px;
    margin-top: 30px;
    &::before {
        box-shadow: 0 5px 10px #eee;
    }

    // -- LOGO Style
    .logo {
        margin: 1em 0;
        font-size: 1em;
        text-decoration : none;

        a {
            display : inline-block;
            position: relative;
        }

        img {
            width: 90%;
        }
    }
}
.banner {
 padding: 3.5em 0;
    p {
        font-size: 22px;
        font-weight: 300;
        margin-bottom: 40px;
    }
}
.top-bar {
    position: absolute;
    top: 0;
    right:0;
    left: 0;
    min-height: 30px;
    &::before {
        background: @brand-primary;
    }
    a, .login {
       color:#fff;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 10px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    .manage-account {
        margin-left: 0px;
    }
}
.mobile-bar {
    a, .login {
        color:#fff;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 10px;
    }
}
.logout {
    display: none;
}
.light-blue {
    background: @brand-primary;
}
.blue-bg {
    position: relative;
    padding: 4em 0;
    &::before {
        background-color: #134f88;
    }
    >div {
        position: relative;
    }
    .title_white {
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .big-yellow {
        text-decoration: none;
        color: @brand-primary1;
        font-size: 3.7em;
        font-weight: bold;
    }
}
.pattern {
    padding: 8em 0;
    &::before {
        background-image: url("../images/pattern.png");
    }
}
.white-box {
    background: #fff;
    z-index: 1;
    padding: 0 3em 3em 3em;
    padding-bottom: 160px!important;
    .title {
        display: block;
        padding: 24px;
        background: @brand-primary1;
        font-size: 1.5em;
        font-weight: bold;
        color: #000;
        margin-bottom: 1.5em;
    }
    >p {
        margin: 0 0.5em;
    }
    .button_white-box {
        text-transform: uppercase;
        line-height: 1.6em;
        padding: 15px 30px;
        width: 80%;
        margin-top: 30px;
        position: absolute;
        bottom: 25px;
        left: 50%;
        margin-left: -40%;
        span {
            display: block;
            font-weight: bold;
        }
    }
}
.numbers {
    margin: 6.5em 0 6em;;
    h3 {
        margin-bottom: 2.3em;
    }
    ul {
        li {
            .value {
                background: @brand-primary1;
                text-align: center;
                font-weight: bold;
                font-size: 4em;
            }
            .title {
                display: block;
                text-align: center;
                text-transform: uppercase;
                margin-top: 2.5em;
            }
        }
    }
}

.contact-list {
    padding-left:0;
    margin-top: 0;
    li {
        list-style: none;
        padding-left: 55px;
        position: relative;
        margin-bottom: 40px;
        &::before {
            position: absolute;
            top: 3px;
            left: 0;
            font-size: 2em;
            color: @brand-primary;
        }
    }
}
.testimonial {
    border: 2px dotted @brand-primary1;
    margin: 100px 0;
    padding: 50px;
    position: relative;
    .flex_3>img {
        position: absolute;
        top: 50%;
        height: 400px;
        width: auto;
        margin-top: -200px;
        max-width: 260px;
    }
    .name {
        display: block;
        color:#134f88;
        font-weight: bold;
    }
    .small-text {
        font-style: italic;

    }
}
// -- NAV Style
nav {
}
.btn.dark-blue {
    background:#0c4c8a;
    color:#fff;
}
//	CONTENT Style
//==================================================
article {
}

section {
}

// 404 page
//==================================================
//.first {
//    font-size : 7em;
//    font-size : 7vw;
//}

//	SIDEBAR Style
//==================================================
aside {
    .aside-box {
        margin-bottom : 30px;
    }
}
//////////////////////////////////////////////////////////

.upload-image-preview-text {
    width: 65%;
    background: #000;
    text-transform: uppercase;
    line-height: 1.7em;
    padding: 13px 0;
}
.download-sample-file {
    color: #fff;
    font-style: italic;

    padding: 0px 0 20px;
    display: block;
    font-size: 0.8em;
}
.download-sample-file-block {
    margin-top: 50px;
    text-align: right;
    .download-sample-file {
        margin-right: 12%;
    }
}
.questions-left {
    text-align: right;
    .checkbox_radio {
        float: right;
        margin: 8px 0 0 15px!important;
    }
}
.questions-right {
    text-align: left;
    .checkbox_radio {
        float: left;
        margin: 8px 15px 0 0!important;
    }
}
#edit-franchisor-quiz-answers {
    padding: 0;
}
#fhub-import-progress-leads {
    text-align: center;
}
#fhub-import-log-zips, #fhub-import-log-leads {
    text-align: center;
    text-decoration: none;
}
#fhub-import-log-leads {
    margin-top: 20px!important;
}
#fhub-zip-search-form {
    input {
        border: none;
        border-bottom: 2px solid #000;
        color:#000;
        &::-webkit-input-placeholder {
            color:#000;
        }
        &::-moz-placeholder {
            color:#000;
        }
    }
}
#fhub-zip-grid-table {
    border: 1px solid #000;
    .header-inner {
        background: #fff;
        tr {
            th:first-child{
                width: 58%;
            }
        }
    }
    tr:first-child > * {
        border-top: 1px solid #000;
    }
    th,td {
        border: 1px solid #000;
    }
    #fhub-zips-grid-paginator {
        text-align: right;
        background: #fff;
        .paginator-total-records, a[data-page="next"], a[data-page="last"] {
            display: none;
        }
    }
}
.result-franchise {
    border: 1px solid #ddd;
    margin: 40px 0 70px;
    h3 {
        font-size: 30px;
    }
    .result-franchise-left-side {
      padding: 40px;
        h3 {
            color:@brand-primary;
        }
    }
    .result-franchise-right-side {
      background: @brand-primary;
        padding: 40px 0;
        color:#fff;
        position: relative;
        h3 {
            color:#fff;
            margin-bottom: 0;
        }
        .large-text {
            display: block;
            font-weight: bold;
            font-size: 2em;
        }
        .btn {
            position: absolute;
            bottom: -24px;
            width: 90%;
            left: 50%;
            margin-left: -45%!important;
            padding: 0px 0;
            background: #0c4c8a;
            text-transform: uppercase;
            font-size: 14px;
        }

    }
}
.bg-img-user-quiz {
  background: url("../images/setup2.jpg") no-repeat;
    background-size: contain;
}
#fhub-user-quiz-result-general-block {
    background: url("../images/setup4.jpg") center bottom no-repeat;
    padding-bottom: 520px;
}
#fhub-franchisor-quiz-form, .quiz-questions-block {
    background: url("../images/setup3.jpg") center top no-repeat;
}
.quiz-questions-block {
    background-position:  center 120px;
}
.right-side-user-quiz, .quiz-questions-block {
     h3 {
         color: @brand-primary;
         font-size: 25px;
     }
}
.quiz-questions-block h3 {
    margin: 40px 0 !important;
}
.uppercase {
    text-transform: uppercase;
}
.blue-header {
    color: @brand-primary;
}
.mtb40px {
    margin: 40px 0!important;
}
.video {
    background: url("../images/setup5.jpg") center center no-repeat;
    background-size: contain;
    padding: 120px 0 20px;
}
.dark-blue {
    color: #0d4d8a;
}
.quiz {
    .answers {
        float:right;
        margin-left: 15px;
    }
    label {
        text-align: right;
    }

}
.fh-button {
    padding: 0 30px;
    text-transform: uppercase;
    line-height: 2.7em;
}
.checkbox_radio {
    margin-right: 6px!important;
    margin-bottom: 15px!important;
    margin-top: 8px!important;
}
#fhub-user-quiz-result-paginator {
  .paginator-total-records {
        font-size: 17px;
        margin-bottom: 10px;
        color: #0d4d8a;
  }
  .paginator-navigation {
     span, a {
         width: 35px;
         display: inline-block;
         text-align: center;
         background: @brand-primary;
         border-radius: 50%;
         height: 32px;
         color: #fff;
         text-decoration: none;
     }
      .selected {
          background:#0d4d8a;
      }
      a[data-page="prev"],a[data-page="next"],a[data-page="last"],a[data-page="first"] {
      display: none;
  }
  }
}
.button-login {
    .title_small {
        margin-left: 30px;
        span {
            display: block;
            font-size: 0.8em;
            color: #999;
            margin-left: 23px;
        }
        &:first-child {
            margin-bottom: 40px;
        }
        .btn {
            text-transform: uppercase;
        }
    }
}
.membership-attributes-data {
    border-color: transparent;
    border-bottom-color: #bbb;
    height: auto;
    line-height: 1.5em;
    padding: 0.25em;

}
.dollar_span {
    display: inline-block;
    font-size: 25px;
    text-align: center;
}
.blue-block {
    background: @brand-primary;
    padding: 30px 40px;
    margin-bottom:10px;
    h4 {
        text-transform: uppercase;
        color: #fff;
        font-size: 25px;
    }
}
.download-sample-file-block {
    .download-sample-file {
        display: none;
    }
}

#add-signle-lead-block {
    border: 1px solid #999;
    padding: 40px;
    margin-top: 40px;
    span {
        text-transform: uppercase;
        color: @brand-primary;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
        display: block;
    }
    input, select {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        width: 29%!important;
        max-width: none;
        min-width: auto;
    }
    input[type="submit"] {
        float: none;
    }
}
//	FOOTER Style
//==================================================
footer {
    padding    : @padding-larger-vertical * 2 0;
    background : #000;
    color      : @footer-color;
    font-size  : @font-size-small;
    position: relative;
    &::before {
        background: #000;
    }
    .footer-box {
        z-index: 1;
        .main_menu {
            text-align: left;
            li {
                width: 100%;
                a {
                    color: #fff;
                    padding: 0;
                }
            }
        }
        .logo {
            width: 80%;
        }
        .tel {
            background: @brand-primary1;
            display: block;
            color: #000;
            font-weight: bold;
            padding: 0.5em;
            margin: -24px 0 20px;
            text-align: center;
            text-decoration: none;
            font-size: 2em;
            span {
                display: block;
                font-size: 0.85em;
            }
        }
    }
}
label[for="terms-and-conditions"].checkbox_radio {
    float: left;
}
body.blue-popup {
   .smoke-base .dialog.error .dialog-inner {
        color: #01373d;
        border-color: #9fc5c9;
        background-color: #fff;

   }
}
//	Button to scroll top
//==================================================
#go-top {
    .button-color(#FFFFFF; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}

.webPage-go-top {
    .button-color(#FFFFFF; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}

.page-flexgrid-example {
    padding : 3em 0;
    code {
        padding          : 0 4px;
        border           : none;
        background-color : transparent;
    }
    ._example {
        background-color : lighten(@brand-primary, 3%);
        color            : @primary-color;
        margin-top       : 0.15em;
        margin-bottom    : 0.15em;
        padding          : 0.50em;
        font-size        : 12px;

        ._example {
            background-color : lighten(@brand-primary, 15%);
        }
    }
}

.range input {
    height: 2em;
}
.header-quize {
    color:#135089;
    font-weight:bold;
}
.member-logged-in, .customer-logged-in {
    .no-member {
        display: none;
    }
}
.admin-logged-in.member-logged-in {
    .no-member {
        display: block;
    }
    .title_small.member span, .title_small.member a {
        display: none;
    }
}
.title_small .member-profile-link {
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    height: auto;
    line-height: 3.5em;
    padding: 0 2.5em;
    font-family: 'Open Sans', Arial, sans-serif;
    display: inline-block;
    vertical-align: middle;
    color: #FFF;
    border-color: #076bbc;
    background-color: #2aa5db;
    border-radius: 2.5em;
    user-select: none;
    box-shadow: none;
    border: none;
    transition: background 0.3s;
}
.button-login .title_small.member span {
    margin-left: 7px;
    margin-bottom: 15px;
}